/* Variables */

:root {
  /*general*/

  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-light: #a9a9a9;
  --basic-light-grey: #666666;
  --basic-white: #ffffff;
  --basic-academy: #231f20;
  --basic-academy-light: #bdbbbc;
  --background-color: #f2f2f2;
  --background-grey: #cacaca;

  /*button*social*/

  --basic-blue-light: #81b3d2;
  --basic-blue: #669ec0;
  --basic-blue-dark: #5496bd;
  --basic-brown-light: #766357;
  --basic-brown: #604e43;
  --basic-brown-dark: #503e33;
}

/* Global */

body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */

.button {
  outline: none;
  border: none;
  text-decoration: none;

  color: var(--basic-white);
  background-color: transparent;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--blue {
  background-color: var(--basic-blue);
}

.button--blue:hover {
  background-color: var(--basic-blue-light);
}

.button--blue:active {
  background-color: var(--basic-blue-dark);
}

.button--brown {
  background-color: var(--basic-brown);
}

.button--brown:hover {
  background-color: var(--basic-brown-light);
}

.button--brown:active {
  background-color: var(--basic-brown-dark);
}

/* Main header */
.main-header {
  background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

/* Site navigation */

.site-navigation__link,
.site-navigation__link-current {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

/* .site-navigation__link:visited {
  color: red;
} */

.site-navigation__link:hover {
  color: var(--basic-blue-light);
}

.site-navigation__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation__link-current {
  color: var(--basic-brown);
}

/* Ð¡ity description */
.city-description {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  background-image: url("../img/bg_mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.city-description__img {
  padding-top: 77px;
  padding-bottom: 81px;
}

.text {
  font-size: 21px;
  line-height: 26px;
}

/* Features */

.features__text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.features__subtext {
  line-height: 26px;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list__item {
  text-align: center;
}

.features-list__header {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-list__image-wrapper {
  display: flex;
}

.features-list__image-wrapper--reverse {
  flex-direction: row-reverse;
}

/* subfeatures */

.subfeatures {
  display: flex;
  justify-content: space-around;

  padding: 55px 0 82px;

  list-style: none;
}


.subfeatures__item {
  padding-top: 75px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.subfeatures__icon--home {
  background-image: url("../img/icon-home.svg");
}

.subfeatures__icon--burger {
  background-image: url("../img/icon-burger.svg");
}

.subfeatures__icon--gift {
  background-image: url("../img/icon-gift.svg");
}

.subfeatures__title{
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

/* hotel-search */

.hotel-search__text {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search__subtext {
  font-size: 14px;
  line-height: 24px;
}

.search-form__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.search-form__button-quantity {
  border: 0;
  outline: 0;
}

.search-form__button-quantity--less::before {
  content: "-";
}

.search-form__button-quantity--more::before {
  content: "+";
}

/* main-footer */

.footer-contacts__text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/* footer-social */

.footer-social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  text-indent: -999em;
  background-color: var(--basic-blue-light);
}

.footer-social__link:hover {
  background-color: var(--basic-blue);
}

.footer-social__link:active {
  background-color: var(--basic-blue-dark);
}

.footer-social__link:active:after {
  opacity: 0.3;
}

.footer-social__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social__link--twitter:after {
  background-image: url("../img/icon-twitter.svg");
}

.footer-social__link--facebook:after {
  background-image: url("../img/icon-fb.svg");
}

.footer-social__link--youtube:after {
  background-image: url("../img/icon-youtube.svg");
}

/* footer-copyright */

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

li {
  list-style-type: none;
}

/* catalog-form */

.catalog-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  background-image: url("../img/bg_noise.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-form__fieldset-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.catalog-form__label {
  color: var(--basic-white);
}

.catalog-form__checkbox {
  display: none;
}

.catalog-form__checkbox-icon {
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-form__checkbox:checked + .catalog-form__checkbox-icon {
  background-image: url("../img/checkbox-on.svg");
}

.catalog-form__checkbox:disabled + .catalog-form__checkbox-icon {
  opacity: 0.3;
}

.catalog-form__input-range-wrapper {
  border: 2px solid var(--basic-white);
  border-radius: 4px;
}

.catalog-form__input-range {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: white;
}

.catalog-form__input-range::-webkit-inner-spin-button,
.catalog-form__input-range::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-picker {
  color: var(--basic-white);
}

.catalog-form__submit {
  text-transform: uppercase;

  color: var(--basic-white);
  padding: 8px 36px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  outline: none;

  cursor: pointer;
}

.catalog-form__submit:hover {
  color: #000;
  background-color: #fff;
}

/* ordering */

.ordering__results-count {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.ordering__title,
.ordering__link {
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.ordering__link {
  position: relative;
  text-decoration: none;
  color: gray;
}

.ordering__link::before {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #81b3d2;
}

.ordering__link:hover {
  color: #81b3d2;
}

.ordering__link:active {
  color: black;
}

.ordering__link:active::before {
  display: none;
}

.ordering__link--active {
  color: #81b3d2;
}

.ordering__link--active::before {
  display: none;
}

/* arrow */
.ordering__arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--background-grey);

  cursor: pointer;
}

.ordering__arrow--bottom {
  transform: rotate(180deg);
}

.ordering__arrow--active {
  border-bottom-color: var(--basic-blue-light);
}

.ordering__arrow:hover {
  border-bottom-color: var(--basic-black);
}

/* selection-list */

.selection-list__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.selection-list__info {
  color: #333333;
}

.selection-list__rating {
  color: #666666;
}

/* stars */
.stars {
  position: relative;
  width: 110px;
  height: 17px;
}

.stars:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/icn_blue-star.svg");
  background-size: 22px 17px;
}

.stars--1:before {
  width: 20%;
}

.stars--2:before {
  width: 40%;
}

.stars--3:before {
  width: 60%;
}

.stars--4:before {
  width: 80%;
}
